body {
margin:0;
padding:0;
font-family:"Courier New,Courier";
background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));


}



.center{
    font-family: sans-serif;
    margin-top: 0;
    padding:0;
    display:flex;
    justify-content: center;
  }